// .card {
//     border-top: 5px solid #702422;
//     border-bottom: 5px solid #702422;
//     border-radius: 5px;
//     background-color: rgb(255, 255, 255);
//     color: #702422;
//     padding-top: 50px;
//     padding-bottom: 50px;
//     width: 40%;
// }

.card-portefolio {
    background-color: #702522e4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 30px;
    width: 400px;
    height: 200px;
    color: #ffdead;

    img{
        width: 100%;
    }

    h2 {
        font-size: 1.5em;
        margin-top: 0;
    }

    p {
        font-size: 1em;
        line-height: 1.4;
    }
}

.card-portefolio:hover {
    background-color: #7025225d;
    color: #ffdead;
}