main {
@include displayFlexColumn();

    #aboutme {
        @include displayFlexColumn();
        margin-top: 70px;
        padding: 0px 10px;
        text-align: center;
        background-color: #702422;
        background-size: contain;
        
        height: 60vh;
        align-items: center;
        
        article {
            margin-top: 15vh;
            
            h1{
                font-size: 2rem;
                margin: 30px 0px;
                color: #ffffff;
            }
            a {
                border-radius: 2px;
                background: #ffdead;
                color: rgb(0, 0, 0);
                padding: 10px;
            }
        }
    }

    #profil {
        @include displayFlexColumn();
        padding: 50px 40px;
        text-align: center;
        background-color: #ffdead;

        h1{
            font-size: 3rem;
            margin-bottom: 20px;
            color: #702422;
        }

        img {
            width: 15%;
            margin-bottom: 20px;
        }

        p{
            font-size: 1rem;
            color: #702422;
        }
    }

    #competences {
        @include displayFlexColumn();
        padding: 50px 40px;
        text-align: center;
        color: #702422;

        h1{
            font-size: 3rem;
            margin-bottom: 20px;
        }

        .container{
            @include displayFlexColumn();
            font-size: 1.4rem;
            .back{
                @include displayFlexColumn();
                i{
                    font-size: 1rem;
                    padding: 0.8rem 0rem;
                }  
            }
            .front{
                @include displayFlexColumn();
                i{
                    font-size: 1rem;
                    padding: 0.8rem 0rem;
                }    
            }
        }
    }

    #portefolio{
        @include displayFlexColumn();
        padding: 50px 40px;
        text-align: center;
        background-color: #ffdead;

        h1{
            font-size: 3rem;
            margin-bottom: 20px;
            color: #702422;
        }
        .container{
            @include displayFlexRow();
            flex-wrap: wrap;
        }
    }

    #contact{
        @include displayFlexColumn();
        padding: 50px 40px;
        text-align: center;
        color: #702422;

        h1{
            font-size: 3rem;
            margin-bottom: 20px;
            color: #702422;
        }
    }
}