.about-me-heading {
    color: orange;
    font-weight: bold;
    font-size: 2rem;
}

.about-me-t{
    font-size: 1.3rem;
    font-weight: bolder;
}

.about-me-p{
    font-size: 0.9rem;
    color: #000000b6;
}

.portefolio-t{
    color: orange;
    font-weight: bold;
    font-size: 1.5rem;
}

.position-relative {
    position: relative;
}
.position-absolute-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.pre-link {
    font-size: 2rem;
}

.portefolio {
    font-weight: 900;
    color: #bbbbbb2e;
}

.nav-link:hover{
    color: rgb(0, 128, 255) !important;
}

/* Couleur violette pour le formulaire */
.form-purple {
    background-color: #6f42c1; /* Indigo-400 */
}

nav{
    position: fixed !important;
    width: 100%;
    margin: auto;
}