@media (max-width: 767.98px) {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .flex-item {
        flex: 0 0 20%; /* Ajustez la largeur souhaitée des images sur mobile */
        max-width: 20%;
        margin-bottom: 10px; /* Ajoutez un espacement entre les images */
    }
}