/*  Medium device */
@media screen and (min-width:768px) {
    header
    {
        height: 12vh !important;
    }

    main{
        #competences {
            .container{
                display: flex;
                flex-direction: row !important;
                justify-content: space-evenly;
            }
        }
    
        #portefolio {
            .container{
                justify-content: space-evenly !important;
            }
            
        }
    }

}