@charset "UTF-8";
/* Reset CSS */
/* Réinitialiser les marges et les remplissages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Réinitialiser les polices */
body {
  font-family: "Titillium Web";
  font-size: 1rem;
}

/* Réinitialiser les listes */
ul, ol {
  list-style: none;
}

/* Réinitialiser les liens */
a {
  text-decoration: none;
  color: inherit;
}

/* Réinitialiser les tableaux */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Réinitialiser les éléments d'entrée */
button, input, select, textarea {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*  Medium device */
@media screen and (min-width: 768px) {
  header {
    height: 12vh !important;
  }
  main #competences .container {
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
  }
  main #portefolio .container {
    justify-content: space-evenly !important;
  }
}
.card-portefolio {
  background-color: rgba(112, 37, 34, 0.8941176471);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 15px;
  width: 100%;
  height: 200px;
  color: #ffdead;
}
.card-portefolio img {
  width: 100%;
}
.card-portefolio h2 {
  font-size: 1.5em;
  margin-top: 0;
}
.card-portefolio p {
  font-size: 1em;
  line-height: 1.4;
}

.card-portefolio:hover {
  background-color: rgba(112, 37, 34, 0.3647058824);
  color: #ffdead;
}

form {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: inherit;
}

textarea {
  height: 150px;
}

button[type=submit] {
  background-color: #cc0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type=submit]:hover {
  background-color: #990000;
}

header {
  position: fixed;
  width: 100%;
  height: 10vh;
  background: #702422;
  color: #fff;
  padding: 0 2rem;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 550px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

@media all and (max-width: 768px) {
  header {
    background: #fafafa;
  }
  .toggle {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    z-index: 20;
  }
  .logo {
    position: relative;
    z-index: 20;
  }
  .ouvrir {
    display: block;
    color: #702422;
  }
  .fermer {
    display: none;
  }
  .open .ouvrir {
    display: none;
  }
  .open .fermer {
    display: block;
  }
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #702422;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-around;
    transform: translateX(-100%);
    transition: transform 1s;
    text-align: center;
  }
  .menu li a {
    font-size: 2rem;
  }
  .btn {
    font-size: 2rem;
  }
  .open .menu {
    transform: translateX(0);
  }
}
main {
  display: flex;
  flex-direction: column;
}
main #aboutme {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  padding: 0px 10px;
  text-align: center;
  background-image: url("../img/about-bg.jpg");
  background-size: contain;
  height: 60vh;
  align-items: center;
}
main #aboutme article {
  margin-top: 15vh;
}
main #aboutme article h1 {
  font-size: 2rem;
  margin: 30px 0px;
  color: #ffffff;
}
main #aboutme article a {
  border-radius: 2px;
  background: #ffdead;
  color: rgb(0, 0, 0);
  padding: 10px;
}
main #profil {
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  text-align: center;
  background-color: #ffdead;
}
main #profil h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #702422;
}
main #profil img {
  width: 15%;
  margin-bottom: 20px;
}
main #profil p {
  font-size: 1rem;
  color: #702422;
}
main #competences {
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  text-align: center;
  color: #702422;
}
main #competences h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
main #competences .container {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}
main #competences .container .back {
  display: flex;
  flex-direction: column;
}
main #competences .container .back i {
  font-size: 1rem;
  padding: 0.8rem 0rem;
}
main #competences .container .front {
  display: flex;
  flex-direction: column;
}
main #competences .container .front i {
  font-size: 1rem;
  padding: 0.8rem 0rem;
}
main #portefolio {
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  text-align: center;
  background-color: #ffdead;
}
main #portefolio h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #702422;
}
main #portefolio .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
main #contact {
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  text-align: center;
  color: #702422;
}
main #contact h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #702422;
}

footer {
  background-color: #ffdead;
  color: #702422;
  text-align: center;
  padding: 40px;
}
footer i {
  font-size: 3rem;
  padding-right: 1rem;
}/*# sourceMappingURL=style.css.map */