@charset "UTF-8";
/* Reset CSS */
/* Réinitialiser les marges et les remplissages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Réinitialiser les polices */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

/* Réinitialiser les listes */
ul, ol {
  list-style: none;
}

/* Réinitialiser les liens */
a {
  text-decoration: none;
  color: inherit;
}

/* Réinitialiser les tableaux */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Réinitialiser les éléments d'entrée */
button, input, select, textarea {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

@media (max-width: 767.98px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .flex-item {
    flex: 0 0 20%; /* Ajustez la largeur souhaitée des images sur mobile */
    max-width: 20%;
    margin-bottom: 10px; /* Ajoutez un espacement entre les images */
  }
}
.card-portefolio {
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 15px;
  width: 100%;
  height: 200px;
  color: white;
}
.card-portefolio img {
  width: 100%;
}
.card-portefolio h2 {
  font-size: 1.5em;
  margin-top: 0;
}
.card-portefolio p {
  font-size: 1em;
  line-height: 1.4;
}

.card-portefolio:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

form {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: inherit;
}

textarea {
  height: 150px;
}

button[type=submit] {
  background-color: #87CEEB;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type=submit]:hover {
  background-color: #4169E1;
}

header {
  position: fixed;
  width: 100%;
  height: 10vh;
  background: #ffffff;
  color: #000000;
  padding: 0 2rem;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  display: none;
}

.nav-titre {
  /* Ajoutez ici les styles souhaités pour votre titre */
  margin-right: auto; /* Modification */
  font-size: 1.5rem;
  font-weight: 700;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.menu li a {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.menu li a:hover {
  border-bottom: 2px solid #000000;
  padding-bottom: 2px;
}

@media all and (max-width: 768px) {
  header {
    background: #ffffff;
  }
  .toggle {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    z-index: 20;
  }
  .nav-titre {
    display: none;
  }
  .ouvrir {
    display: block;
    color: white;
  }
  .fermer {
    display: none;
  }
  .open .ouvrir {
    display: none;
  }
  .open .fermer {
    display: block;
  }
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-around;
    transform: translateX(-100%);
    transition: transform 1s;
    text-align: center;
  }
  .menu li a {
    font-size: 2rem;
  }
  .btn {
    font-size: 2rem;
  }
  .open .menu {
    transform: translateX(0);
  }
}
main #presentation article {
  margin-top: 15vh;
}
main #presentation article h1 {
  font-size: 2rem;
  font-family: "Rubik", sans-serif;
  color: #000000;
}
main #presentation article i {
  font-size: 2rem;
}
main #presentation article i:hover {
  color: #fd7e14;
}
main #presentation article .btn-primary {
  background-color: #fd7e14 !important;
  border-color: #fd7e14;
}
main #presentation article .btn-primary:hover {
  background-color: #ffbb83 !important;
  border-color: #fd7e14;
}
main #contact {
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  text-align: center;
  color: black;
}
main #contact h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: black;
}

.about-me-heading {
  color: orange;
  font-weight: bold;
  font-size: 2rem;
}

.about-me-t {
  font-size: 1.3rem;
  font-weight: bolder;
}

.about-me-p {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7137254902);
}

.portefolio-t {
  color: orange;
  font-weight: bold;
  font-size: 1.5rem;
}

.position-relative {
  position: relative;
}

.position-absolute-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.pre-link {
  font-size: 2rem;
}

.portefolio {
  font-weight: 900;
  color: rgba(187, 187, 187, 0.1803921569);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 40px;
}
footer i {
  font-size: 3rem;
  padding-right: 1rem;
}/*# sourceMappingURL=style.css.map */